@{
    ViewData["Title"] = "List Student";
    Layout = "~/Views/Shared/_MainLayoutHelper.cshtml";
}
@model IEnumerable<Student>

<a asp-action="Create" class="btn btn-primary">Create Student</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Mã</th>
            <th>Ảnh đại diện</th>
            <th>Họ tên</th>
            <th>Ngày sinh</th>
            <th>Ngành</th>
            <th>Giới tính</th>
            <th>Hệ ĐT</th>
            <th>Địa chỉ</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.Id</td>
                <td>
                    @if (!string.IsNullOrEmpty(s.ProfileImagePath))
                    {
                        <img src="@Url.Content(s.ProfileImagePath)" alt="Ảnh sinh viên" style="width: 100px; height: auto;" />
                    }
                    else
                    {
                        <span>Chưa có ảnh</span>
                    }
                </td>
                <td>@s.Name</td>
                <td>@s.DateOfBirth</td>
                @{
                    string str = "";
                    switch (s.Branch)
                    {
                        case Branch.IT:
                            str = "CNTT";
                            break;
                        case Branch.BE:
                            str = "Kinh tế";
                            break;
                        case Branch.CE:
                            str = "Công trình";
                            break;
                        case Branch.EE:
                            str = "Điện - Điện tử";
                            break;
                    }
                }
                <td>@str</td>
                <td>@(s.Gender==Gender.Male? "Nam" : "Nữ")</td>
                <td>@(s.IsRegular?"Chính quy":"Phi chính quy")</td>
                <td>@s.Address</td>
                <td>@s.Email</td>
            </tr>
        }
    </tbody>
</table>

@section Script {
    <script>
        $('table').css('border-color', 'red');
    </script>
}
